body{
	font-family: arial,sans-serif;
	font-size: 100%;
	background: #ffffff url("images/1295157.jpg") no-repeat right top;
	text-align: center;
}

form {
	font-size: 120%;
	background: transparent;
	color: #ffc;
	border: 0px;
}

input {
	background: transparent;
	border: 2px solid black;
}

input, select{
	font-size: 70%;
}

input:focus {
	font-size: 90%;
}

#username {
	color: #cfc;
}

#password {
	color: #cfc;
}

.login {
	color: #ffc;
	width: 50%;
	float: left;
}

.register {
	color: #ffc;
	width: 50%;
	float: right;
}

.logout {
	color: #ffc;
	width: 50%;
	margin: 0 auto;
}